.cart {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 300px;
  border: 1px solid #000;
  &__title {
    border-bottom: 1px solid #000;
    padding: 10px;
  }
  &__checkout {
    flex: 1;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #000;
}
