.button {
  padding: 8px 15px;
  background-color: var(--neutral-color);
  color: var(--neutral-additional-color);
  // border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    background-color: var(--hover-color);
    box-shadow: 0px 0px 10px var(--hover-color);
  }
}
