@import "../../styles/global.scss";

.header {
  padding: 10px 0;
  border-bottom: 1px solid #000;
  background-color: var(--primary-light-color);
  border-bottom: 1px solid var(--border-color);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--neutral-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.img {
  width: 60px;
  height: 50px;
  padding: 0 5px;
  fill: var(--neutral-color);
}

.bar {
  display: flex;
  align-items: center;
}

.cart {
  display: none;
  &__menu {
    display: none;
  }
}

.themeSwitcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 0 20px;
  &__caption {
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 12px;
    margin: 0 0 5px 0;
    color: var(--secondary-color);
  }
  &__label {
    position: relative;
    display: inline-block;
    input {
      display: none;
    }
    input:checked + .themeSwitcher__btn {
      background: url("../../assets/svg/moon.svg") no-repeat center;
      background-size: cover;
    }
  }
  &__btn {
    width: 35px;
    height: 35px;
    background: url("../../assets/svg/sun.svg") no-repeat center;
    background-size: cover;
    transition: all 1s;
    cursor: pointer;
  }
}

.active {
  display: flex;
}

@media (max-width: 1024px) {
  .themeSwitcher {
    &__caption {
      display: none;
    }
  }
  .cart {
    display: flex;
    &__btn {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 0 0 0 10px;
      fill: var(--secondary-color);
    }
    &__menu {
      position: absolute;
      z-index: 1;
      top: 70px;
      left: calc(100% - 340px);
      background-color: var(--primary-color);
    }
  }
}

@media (max-width: 425px) {
  .logo {
    display: flex;
    align-items: center;
    color: var(--neutral-color);
    font-size: 1rem;
    font-weight: 600;
  }
  
  .img {
    width: 40px;
    height: 30px;
    padding: 0 5px;
    fill: var(--neutral-color);
  }
}